#home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/g1.jpeg'); 
  border: 1px solid transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  
  .vcenter {
    background-color: $primary-color;
    color: $dark-font-color;
    text-align: center;
    padding: 2vh;
    @include vertical-center;
    
    h1 {
      font-size: 4vw;
      margin: 0;
      margin-top: 0em;
    }
    
    .links {
      width: 44vw;
      margin: 4vh auto 0;
      
      a {
        width: 24%;
        display: inline-block;
        
        &:hover, &:visited, &:active {
          background-color: $light-color;
          text-decoration: none;
        }
      }
    }
  }
}